.form-group {
  position: absolute;
  right: 16%;
  top: 5%;
  text-align: center;
}

.form {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px 20px 10px 20px;
  width: 600px;
  height: 700px;
  text-align: left;
}

.observation {
  color: #B2B2B2;
  font: normal normal normal 10px Segoe UI;
}

.form-fields {
  padding-top: 10px;
}

.left-margin {
  margin-left: 20px;
}

.btn-register {
  background-color: #74ABE130;
  border: 1px solid #74ABE1;
  border-radius: 8px;
  text-transform: uppercase;
  width: 306px;
  height: 30px;
  text-align: center;
  padding-top: 14px;
  font: normal normal bold 15px/20px Segoe UI;
  letter-spacing: 0px;
  color: #76ABE1;
  cursor: pointer;
}

.btn-search {
  background-color: #74ABE130;
  border: 1px solid #74ABE1;
  border-radius: 8px;
  text-transform: uppercase;
  width: 100%;
  height: 30px;
  text-align: center;
  padding-top: 10px;
  font: normal normal bold 15px/20px Segoe UI;
  letter-spacing: 0px;
  color: #76ABE1;
  cursor: pointer;
  margin-left: 20px;
  margin-bottom: 20px;
  align-self: center;
}

.btn-register-disable {
  cursor: default;
  color: #74ABE133;
}

.btn-update-disable {
  cursor: default;
  color: #74ABE133;
}

.half {
  width: 48.3%;
}

.search {
  display: flex;
}