<div class="content">
  <div class="form-group">
    <h2 class="tittle">cadastro</h2>
    <div class="form">
      <p class="observation">Obrigatório (*)</p>
      <form [formGroup]="registerForm">
        <div class="content-inline search">
          <mat-form-field class="full" >
            <mat-label>CPF:</mat-label>
            <input matInput formControlName="cpf" appCpfMask required type="text">
            <mat-error *ngIf="registerForm.get('cpf')?.hasError">Campo Obrigatório</mat-error>
          </mat-form-field>

          <div class="btn-search" [ngClass]="{'btn-update-disable': !registerForm.valid}">cadastrar cidadão</div>
        </div>

        <div class="full">
          <mat-form-field class="full">
            <mat-label>Nome:</mat-label>
            <input matInput formControlName="name" required>
            <mat-error *ngIf="registerForm.get('name')?.hasError">Campo Obrigatório</mat-error>
          </mat-form-field>

          <div class="content-inline">
            <mat-form-field class="half" >
              <mat-label>Data de Nascimento:</mat-label>
              <input matInput formControlName="date" required [matDatepicker]="picker">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="registerForm.get('date')?.hasError">Campo Obrigatório</mat-error>
            </mat-form-field>
          </div>

          <div class="content-inline">
            <mat-form-field class="full" >
              <mat-label>Celular:</mat-label>
              <input matInput formControlName="cellphone" appCellphoneMask required type="tel">
              <mat-error *ngIf="registerForm.get('cellphone')?.hasError">Campo Obrigatório</mat-error>
            </mat-form-field>

            <mat-form-field class="full left-margin" >
              <mat-label>Telefone Fixo:</mat-label>
              <input matInput formControlName="telephone" appTelephoneMask type="tel">
            </mat-form-field>
          </div>

          <mat-form-field class="full" >
            <mat-label>Endereço:</mat-label>
            <input matInput formControlName="address" required>
            <mat-error *ngIf="registerForm.get('address')?.hasError">Campo Obrigatório</mat-error>
          </mat-form-field>

          <div class="content-inline">
            <mat-form-field class="full" >
              <mat-label>Complemento:</mat-label>
              <input matInput formControlName="complement">
            </mat-form-field>

            <mat-form-field class="full left-margin" >
              <mat-label>CEP:</mat-label>
              <input matInput formControlName="cep" appCepMask required type="text">
              <mat-error *ngIf="registerForm.get('cep')?.hasError">Campo Obrigatório</mat-error>
            </mat-form-field>
          </div>

          <div class="content-inline">
            <mat-form-field class="full" >
              <mat-label>Cidade:</mat-label>
              <input matInput formControlName="city" required>
              <mat-error *ngIf="registerForm.get('city')?.hasError">Campo Obrigatório</mat-error>
            </mat-form-field>

            <mat-form-field class="full left-margin">
              <mat-label>Estado:</mat-label>
              <mat-select formControlName="state" required>
                <mat-option>-- Selecione um Estado --</mat-option>
                <mat-option value="AC">Acre</mat-option>
                <mat-option value="AL">Alagoas</mat-option>
                <mat-option value="AP">Amapá</mat-option>
                <mat-option value="AM">Amazonas</mat-option>
                <mat-option value="BA">Bahia</mat-option>
                <mat-option value="CE">Ceará</mat-option>
                <mat-option value="DF">Distrito Federal</mat-option>
                <mat-option value="ES">Espírito Santo</mat-option>
                <mat-option value="GO">Goiás</mat-option>
                <mat-option value="MA">Maranhão</mat-option>
                <mat-option value="MT">Mato Grosso</mat-option>
                <mat-option value="MS">Mato Grosso do Sul</mat-option>
                <mat-option value="MG">Minas Gerais</mat-option>
                <mat-option value="PA">Pará</mat-option>
                <mat-option value="PB">Paraíba</mat-option>
                <mat-option value="PR">Paraná</mat-option>
                <mat-option value="PE">Pernambuco</mat-option>
                <mat-option value="PI">Piauí</mat-option>
                <mat-option value="RJ">Rio de Janeiro</mat-option>
                <mat-option value="RN">Rio Grande do Norte</mat-option>
                <mat-option value="RS">Rio Grande do Sul</mat-option>
                <mat-option value="RO">Rondônia</mat-option>
                <mat-option value="RR">Roraima</mat-option>
                <mat-option value="SC">Santa Catarina</mat-option>
                <mat-option value="SP">São Paulo</mat-option>
                <mat-option value="SE">Sergipe</mat-option>
                <mat-option value="TO">Tocantins</mat-option>
              </mat-select>
              <mat-error *ngIf="registerForm.get('state')?.hasError">Campo Obrigatório</mat-error>
            </mat-form-field>
          </div>

          <mat-form-field class="full" >
            <mat-label>Email:</mat-label>
            <input matInput formControlName="email" required type="email">
            <mat-error *ngIf="registerForm.get('email')?.hasError">Campo Obrigatório</mat-error>
          </mat-form-field>

          <div class="content-center">
            <div class="btn-register" [ngClass]="{'btn-register-disable': !registerForm.valid}">cadastrar cidadão</div>
          </div>
        </div>
        
      </form>
      
    </div>
  </div>
  <div class="baseboard-buttons">
    <app-baseboard-navigation></app-baseboard-navigation>
  </div>
  
</div>