<div class="content">
  <div class="group-buttons">
    <h2 class="tittle">cidadão</h2>
    <button class="btn-navigation" (click)="navigate('/register')">Cadastrar Cidadão</button>
    <button class="btn-navigation" (click)="navigate('/update')">Editar Cadastro</button>
    <button class="btn-navigation">Pesquisar Cadastro</button>
    <button class="btn-navigation">Excluir Cadastro</button>
  </div>
  <div class="baseboard-buttons">
    <app-baseboard-navigation></app-baseboard-navigation>
  </div>
  
</div>


