.btn-navigation {
  background-color: #fff;
  color: #76ABE1;
  border-radius: 8px;
  margin-bottom: 50px;
  width: 362px;
  height: 50px;
  text-transform: uppercase;
  border-color: #76ABE1;
  border-style: hidden;
  font: normal normal bold 15px Segoe UI;
}

.group-buttons {
  display: flex;
  flex-wrap: wrap;
  width: 362px;
  position: absolute;
  right: 16%;
  top: 22%;
  justify-content: center;
}



