<div class="content">
  <div class="form-group">
    <h2 class="tittle">Registrar Aplicação</h2>
    <div class="form">
      <p class="observation">Obrigatório (*)</p>
      <form [formGroup]="registerForm">
        <div class="full">

          <div class="content-inline">
            <mat-form-field class="full" >
              <mat-label>CPF:</mat-label>
              <input matInput formControlName="cpf" appCpfMask required type="text">
              <mat-error *ngIf="registerForm.get('cpf')?.hasError">Campo Obrigatório</mat-error>
            </mat-form-field>

            <mat-form-field class="full left-margin" >
              <mat-label>Nome:</mat-label>
            <mat-select formControlName="name">
              <mat-option *ngFor="let vacina of nomesVacinas" [value]="vacina">{{ vacina }}</mat-option>
            </mat-select>
          </mat-form-field>
          </div>

          <div class="content-inline">
            <mat-form-field class="full" >
              <mat-label>Data da aplicação:</mat-label>
              <input matInput formControlName="date" required [matDatepicker]="picker">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="registerForm.get('date')?.hasError">Campo Obrigatório</mat-error>
            </mat-form-field>

            <mat-form-field class="full left-margin" >
              <mat-label>Dose:</mat-label>
              <input matInput formControlName="dose" required type="number">
              <mat-error *ngIf="registerForm.get('dose')?.hasError">Campo Obrigatório</mat-error>
            </mat-form-field>
          </div>

          

          <div class="content-center">
            <div class="btn-register" [ngClass]="{'btn-register-disable': !registerForm.valid}">cadastrar vacina</div>
          </div>
        </div>
        
      </form>
      
    </div>
  </div>
  <div class="baseboard-buttons">
    <app-baseboard-navigation></app-baseboard-navigation>
  </div>
  <div class="page-indicator-vaccination"></div>
</div>