<div class="content">
  <div class="group-buttons">
    <h2 class="tittle">Aplicação</h2>
    <button class="btn-navigation" (click)="navigate('/registerVaccination')">Registrar Vacina Aplicada</button>
    <button class="btn-navigation" (click)="navigate('/personalApplicationReport')">Vacinas Aplicadas por Paciente</button>
    <button class="btn-navigation" (click)="navigate('/vaccineApplicationReport')">Histórico de Aplicação por Vacina</button>
  </div>
  <div class="baseboard-buttons">
    <app-baseboard-navigation></app-baseboard-navigation>
  </div>
  <div class="page-indicator-vaccination"></div>
</div>