.form-group {
  position: absolute;
  right: 16%;
  top: 25%;
  text-align: center;
}

.form {
  background-color: #fff;
  border-radius: 8px;
  padding: 15px 30px 0px 30px;
  width: 600px;
  height: 350px;
  text-align: left;
}

.observation {
  color: #B2B2B2;
  font: normal normal normal 10px Segoe UI;
}

.form-fields {
  padding-top: 10px;
}

.left-margin {
  margin-left: 20px;
}

.btn-register {
  background-color: #74ABE130;
  border: 1px solid #74ABE1;
  border-radius: 8px;
  text-transform: uppercase;
  width: 306px;
  height: 30px;
  text-align: center;
  padding-top: 14px;
  font: normal normal bold 15px/20px Segoe UI;
  letter-spacing: 0px;
  color: #76ABE1;
  cursor: pointer;
  margin-top: 15px;
}

.btn-register-disable {
  cursor: default;
  color: #74ABE133;
}
