<div>
  <div class="group-buttons">
    <div class="btn-navigation btn-navigation-border-left">
      <div class="indicator" (click)="navigate('/citicizen')">
        paciente
      </div>
    </div>
    <div class="separate"></div>

    <div class="btn-navigation">
      <div class="indicator" (click)="navigate('/vaccine')">
        vacina
      </div>
    </div>
    <div class="separate"></div>

    <div class="btn-navigation">
      <div class="indicator">
        aplicar vacina
      </div>
    </div>
    <div class="separate"></div>
    
    <div class="btn-navigation btn-navigation-border-right" (click)="navigate('/home')">
      <div class="indicator">
        voltar
      </div>
    </div>
  </div>
</div>
