<div>
  <div class="group-buttons">
    <div class="btn-navigation btn-navigation-border-left">
      <div class="indicator">
        cidadão
      </div>
    </div>
    <div class="separate"></div>

    <div class="btn-navigation">
      <div class="indicator">
        vacina
      </div>
    </div>
    <div class="separate"></div>

    <div class="btn-navigation">
      <div class="indicator">
        aplicar vacina
      </div>
    </div>
    <div class="separate"></div>
    
    <div class="btn-navigation btn-navigation-border-right" (click)="back()">
      <div class="indicator">
        voltar
      </div>
    </div>
  </div>
</div>
