<div class="content">
  <div class="group-buttons">
    <h2 class="tittle">Vacina</h2>
    <button class="btn-navigation" (click)="navigate('/registerVaccine')">Cadastrar Nova Vacina</button>
    <button class="btn-navigation" (click)="navigate('/updateVaccine')">Editar Cadastro de Vacina</button>
    <button class="btn-navigation" (click)="navigate('/search')">Pesquisar Vacina</button>
    <button class="btn-navigation" (click)="navigate('/delete')">Excluir Cadastro de Vacina</button>
  </div>
  <div class="baseboard-buttons">
    <app-baseboard-navigation></app-baseboard-navigation>
  </div>
  <div class="page-indicator-vaccine"></div>
</div>
