<div class="content">
  <div class="form-group">
    <h2 class="tittle">cadastro</h2>
    <div class="form">
      <form [formGroup]="searchForm">
        <h3 class="instruction">Escolha a vacina que será excluída</h3>
        <div class="content-inline search">
          <mat-form-field class="full">
            <mat-label>Nome:</mat-label>
            <mat-select formControlName="name">
              <mat-option *ngFor="let vacina of nomesVacinas" [value]="vacina">{{ vacina }}</mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <div class="content-center">
          <div class="btn-delete" [ngClass]="{'btn-delete-disable': !searchForm.valid}" (click)="deleteVaccine()">excluir vacina</div>
        </div>
      </form>
      
        

    </div>
  </div>
  <div class="baseboard-buttons">
    <app-baseboard-navigation></app-baseboard-navigation>
  </div>

  <div class="page-indicator-vaccine"></div>

</div>