.btn-navigation {
  background-color: #fff;
  color: #73AAE0;
  border-radius: 8px;
  margin-bottom: 70px;
  width: 370px;
  height: 70px;
  text-transform: uppercase;
  border-color: #73AAE0;
  border-style: hidden;
  font: normal normal bold 23px Segoe UI;
}

.group-buttons{
  display: flex;
  flex-wrap: wrap;
  width: 370px;
  position: absolute;
  right: 19%;
  top: 34%;
}